@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
  color: white;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px,
      transparent 1px),
    linear-gradient(90deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px);

  background-size: 40px 40px;
}

section {
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at center,
      rgba(59, 130, 246, .05),
      transparent 70%);
  pointer-events: none;
}